<title>Keos Meet</title>
<meta property="og:title" content="Keos Meet"/>
<meta property="og:image" content="images/jitsilogo.png?v=1"/>
<meta property="og:description" content="Join a video conference powered by the Keos Meet"/>
<meta description="Join a  video conference powered by the Keos Meet"/>
<meta itemprop="name" content="Keos Meet"/>
<meta itemprop="description" content="Join a WebRTC conference powered by the Keos Meet"/>
<meta itemprop="image" content="images/jitsilogo.png?v=1"/>
<link rel="icon" type="image/png" href="images/favicon.ico?v=1"/>
